# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dovyd\Desktop\Uni\2020_2021 pavasario semestras\Intelektikos pagrindai\Dovydas_Zamas_LD2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
